*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.nome{
color: azure;
text-decoration: none;
}

.produtos{
color: purple;
align-items: center;
justify-content: center;
}

.box{
padding: 50px 0;
}

.box img{
    max-width: 300px;
    max-height: 250px;
border-radius: 50%;
}
.image {
display: flex;
align-items: center;
}

.descricao p{
font-style: oblique;
font-size: 20px;
color: whitesmoke;
}
.descricao{
display:flex; 
flex-direction: column;
padding: 0 20px;
align-items: center;

}

.botao{
height: 22px;
width: 80px;
border: 1px solid ;
border-radius: 8px;
border-spacing: 2px;
background-color:greenyellow;
text-align: center;
}

.botao:hover{

background-color: red;
transition: 0.5ms;
opacity: 0.7;
}

.produtos{
    background: rgb(2,0,36);
    background: linear-gradient(90deg,
     rgba(2,0,36,1) 0%, rgba(73,9,121,1) 35%,
      rgba(0,212,255,1) 100%);
 }