.container {
    display: flex;
   
    justify-content: space-around;
    
   }
   .box{
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 250px;
   justify-content: space-between;
   }
   /*exemplo de comentario*/
   body {
   background-image: url("https://media.istockphoto.com/id/1408394528/vector/seamless-pattern-with-soaring-birds-silhouettes.jpg?s=612x612&w=0&k=20&c=M441_0sSdI7avp0ZDPBupy-RQ_v6iTQRAFg9iR2PyDc=") ;
   }
   #unico{
     color: black;
   }
   .rola{
     color: black;
   }
   .minirola{
     color: black;
   }
    
    .box img{
      padding: 20px;
      width: 200px;
      height: 150px;
   
    }
   .botao{
     text-decoration: none;
     border: 1px solid;
     border-radius: 3px;
     background-color: gray;
     padding: 2px 9px;
     margin: 5px;
   }
   
   
   
   @media (max-width: 1024px) {
    .container {
    flex-direction: column ;
    align-items: center;
}
}
   